In [1]:
import xml.etree.ElementTree as ET
import pandas as pd
from intake.source.cache import display


def get_items(response):
    root = ET.fromstring(response.content)
    item_list = []
    for child in root.find('body').find('items'):
        elements = child.findall('*')
        data = {}
        for element in elements:
            tag = element.tag.strip()
            text = element.text.strip()
            data[tag]=text
        item_list.append(data)
    return item_list

# items_list = get_items(res)
# items = pd.DataFrame(items_list)
# items.head()

In [2]:
import requests
import datetime
import certifi
import ssl

def get_data(gu_code, search_date):
    url = "http://apis.data.go.kr/1613000/RTMSDataSvcAptTrade/getRTMSDataSvcAptTrade?"
    service_key = "01K5GY%2BOqRwRKCTe5O6JRPa3GMbKfjksVKi64n3xuOpFncW%2BGAebIxWQ3TDL21HwVCAWPw4p7mkpxuM0Mp3wLQ%3D%3D"
    page_no = "1"
    num_of_rows = "10000000"

    call_code = "serviceKey=" + service_key + "&" + \
            "LAWD_CD=" + gu_code + "&" + \
            "DEAL_YMD=" + search_date + "&" + \
            "pageNo=" + page_no + "&" + "numOfRows=" + num_of_rows

    res = requests.get(url + call_code, verify=certifi.where())
    return res

In [3]:
# #search_year_list = ["2019","2020","2021","2022","2023","2024"]
# gu_code_list = ["41281", "41285", "41287"]
# items_list = []
# for gu_code in gu_code_list:
#     for year in range(2022,2025):
#         year = str(year)
#         for month in range (1,13):
#             month_str = str(month).zfill(2)
#             year_month = year+month_str
#             res = get_data(gu_code, year_month)
#             items_list += get_items(res)
# len(items_list)

In [62]:
search_date_list = ["201801","201802","201803","201804","201805","201806","201807","201808","201809","201810","201811","201812","201901","201902","201903","201904","201905","201906","201907","201908","201909","201910","201911","201912","202001","202002","202003","202004","202005","202006","202007","202008","202009","202010","202011","202012","202101","202102","202103","202104","202105","202106","202107","202108","202109","202110","202111","202112","202201","202202","202203","202204","202205","202206","202207","202208","202209","202210","202211","202212","202301", "202302", "202303", "202304", "202305", "202306", "202307", "202308", "202309", "202310","202311","202312","202401", "202402", "202403", "202404", "202405", "202406", "202407", "202408"]
gu_code_list = ["41281", "41285", "41287"]
tx_list = []
for search_date in search_date_list:
    for gu_code in gu_code_list:
        res = get_data(gu_code, search_date)
        tx_list += get_items(res)
    
len(tx_list)

76135

In [63]:
# search_date_list = ["202201"]
# gu_code_list = ["41287"]
# tx_list2 = []
# for search_date in search_date_list:
#     for gu_code in gu_code_list:
#         res = get_data(gu_code, search_date)
#         tx_list2 += get_items(res)
#     
# len(tx_list2)

In [64]:
goyang_apt_tx = pd.DataFrame(tx_list)
goyang_apt_tx

,aptDong,aptNm,buildYear,buyerGbn,cdealDay,cdealType,dealAmount,dealDay,dealMonth,dealYear,dealingGbn,estateAgentSggNm,excluUseAr,floor,jibun,landLeaseholdGbn,rgstDate,sggCd,slerGbn,umdNm
0,,SK뷰1차,2005,,,,"42,400",17,1,2018,,,104.01,12,621,N,,41281,,행신동
1,,삼송2차아이파크,2015,,,,"58,500",14,1,2018,,,84.739,17,311,N,,41281,,삼송동
2,,일신건영아파트(햇빛마을),1997,,,,"40,900",11,1,2018,,,99.78,15,958,N,,41281,,행신동
3,,미도(422-3),1988,,,,"12,500",29,1,2018,,,42.03,5,422-3,N,,41281,,성사동
4,,삼송2차아이파크,2015,,,,"55,800",21,1,2018,,,74.903,20,311,N,,41281,,삼송동
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76130,,탄현마을(부영3),1995,개인,,,"21,000",4,8,2024,중개거래,경기 고양시일산서구,46.58,10,1484,N,,41287,개인,탄현동
76131,1403,강선마을14단지두산,1994,개인,,,"42,000",5,8,2024,중개거래,경기 고양시 일산서구,59.76,13,101,N,24.08.23,41287,개인,주엽동
76132,2,미주(19-8),1989,개인,,,"11,000",1,8,2024,중개거래,경기 고양시 일산서구,57.5,5,1735,N,24.09.06,41287,개인,일산동
76133,,후곡마을(주공),1995,개인,,,"36,000",3,8,2024,중개거래,경기 고양시 일산서구,68.13,6,1103,N,,41287,개인,일산동
76134,1001,문촌마을10단지동부,1996,개인,,,"40,000",2,8,2024,직거래,,73.718,23,17,N,24.08.05,41287,개인,주엽동

In [65]:
# 해제된 매매 데이터 삭제
goyang_apt_tx = goyang_apt_tx[goyang_apt_tx.cdealType!="O"]

In [66]:
goyang_apt_tx

,aptDong,aptNm,buildYear,buyerGbn,cdealDay,cdealType,dealAmount,dealDay,dealMonth,dealYear,dealingGbn,estateAgentSggNm,excluUseAr,floor,jibun,landLeaseholdGbn,rgstDate,sggCd,slerGbn,umdNm
0,,SK뷰1차,2005,,,,"42,400",17,1,2018,,,104.01,12,621,N,,41281,,행신동
1,,삼송2차아이파크,2015,,,,"58,500",14,1,2018,,,84.739,17,311,N,,41281,,삼송동
2,,일신건영아파트(햇빛마을),1997,,,,"40,900",11,1,2018,,,99.78,15,958,N,,41281,,행신동
3,,미도(422-3),1988,,,,"12,500",29,1,2018,,,42.03,5,422-3,N,,41281,,성사동
4,,삼송2차아이파크,2015,,,,"55,800",21,1,2018,,,74.903,20,311,N,,41281,,삼송동
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76130,,탄현마을(부영3),1995,개인,,,"21,000",4,8,2024,중개거래,경기 고양시일산서구,46.58,10,1484,N,,41287,개인,탄현동
76131,1403,강선마을14단지두산,1994,개인,,,"42,000",5,8,2024,중개거래,경기 고양시 일산서구,59.76,13,101,N,24.08.23,41287,개인,주엽동
76132,2,미주(19-8),1989,개인,,,"11,000",1,8,2024,중개거래,경기 고양시 일산서구,57.5,5,1735,N,24.09.06,41287,개인,일산동
76133,,후곡마을(주공),1995,개인,,,"36,000",3,8,2024,중개거래,경기 고양시 일산서구,68.13,6,1103,N,,41287,개인,일산동
76134,1001,문촌마을10단지동부,1996,개인,,,"40,000",2,8,2024,직거래,,73.718,23,17,N,24.08.05,41287,개인,주엽동

In [67]:
# 항목별 범주형 데이터 확인
# goyang_apt_tx['buildYear'].value_counts()
# goyang_apt_tx['dealingGbn'].value_counts()
# goyang_apt_tx['floor'].value_counts()
# goyang_apt_tx['sggCd'].value_counts()
goyang_apt_tx['umdNm'].value_counts()

umdNm
행신동     9204
일산동     8392
탄현동     7257
화정동     6311
주엽동     6079
중산동     3539
백석동     3281
마두동     3139
풍동      2774
성사동     2541
식사동     2507
덕이동     2424
대화동     2128
도내동     1819
고양동     1704
신원동     1356
토당동     1337
가좌동     1273
장항동     1124
주교동     1037
관산동      858
삼송동      851
향동동      713
동산동      594
원흥동      551
사리현동     419
지축동      298
덕은동      104
성석동       85
Name: count, dtype: int64

In [68]:
# 수치형 데이터 기본 EDA
# goyang_apt_tx['dealAmount'].describe()
goyang_apt_tx['excluUseAr'].describe()

count     73699
unique     1139
top       59.97
freq       1849
Name: excluUseAr, dtype: object

In [69]:
goyang_apt_tx

,aptDong,aptNm,buildYear,buyerGbn,cdealDay,cdealType,dealAmount,dealDay,dealMonth,dealYear,dealingGbn,estateAgentSggNm,excluUseAr,floor,jibun,landLeaseholdGbn,rgstDate,sggCd,slerGbn,umdNm
0,,SK뷰1차,2005,,,,"42,400",17,1,2018,,,104.01,12,621,N,,41281,,행신동
1,,삼송2차아이파크,2015,,,,"58,500",14,1,2018,,,84.739,17,311,N,,41281,,삼송동
2,,일신건영아파트(햇빛마을),1997,,,,"40,900",11,1,2018,,,99.78,15,958,N,,41281,,행신동
3,,미도(422-3),1988,,,,"12,500",29,1,2018,,,42.03,5,422-3,N,,41281,,성사동
4,,삼송2차아이파크,2015,,,,"55,800",21,1,2018,,,74.903,20,311,N,,41281,,삼송동
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76130,,탄현마을(부영3),1995,개인,,,"21,000",4,8,2024,중개거래,경기 고양시일산서구,46.58,10,1484,N,,41287,개인,탄현동
76131,1403,강선마을14단지두산,1994,개인,,,"42,000",5,8,2024,중개거래,경기 고양시 일산서구,59.76,13,101,N,24.08.23,41287,개인,주엽동
76132,2,미주(19-8),1989,개인,,,"11,000",1,8,2024,중개거래,경기 고양시 일산서구,57.5,5,1735,N,24.09.06,41287,개인,일산동
76133,,후곡마을(주공),1995,개인,,,"36,000",3,8,2024,중개거래,경기 고양시 일산서구,68.13,6,1103,N,,41287,개인,일산동
76134,1001,문촌마을10단지동부,1996,개인,,,"40,000",2,8,2024,직거래,,73.718,23,17,N,24.08.05,41287,개인,주엽동

In [70]:
len(goyang_apt_tx)

73699

In [71]:
# 결측치 제거(제거되는 항목 없음( 
import numpy as np
goyang_apt_tx.replace('', np.nan, inplace=True)

C:\Users\KMAC\AppData\Local\Temp\ipykernel_18364\295516798.py:3: FutureWarning:

Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`

C:\Users\KMAC\AppData\Local\Temp\ipykernel_18364\295516798.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [72]:
goyang_apt_tx = goyang_apt_tx.drop(['aptDong', 'cdealDay','cdealType','buyerGbn','slerGbn','estateAgentSggNm','jibun','rgstDate', 'landLeaseholdGbn'], axis=1)

In [73]:
# 결측치 없음
goyang_apt_tx.isnull().sum()

aptNm             0
buildYear         0
dealAmount        0
dealDay           0
dealMonth         0
dealYear          0
dealingGbn    56211
excluUseAr        0
floor             0
sggCd             0
umdNm             0
dtype: int64

In [74]:
# 년월 합친 열 생성
goyang_apt_tx['dealYearMonth'] = goyang_apt_tx['dealYear'] + goyang_apt_tx['dealMonth']
goyang_apt_tx['dealYearMonthDay'] = goyang_apt_tx['dealYear'] + goyang_apt_tx['dealMonth'] + goyang_apt_tx['dealDay']

In [75]:
goyang_apt_tx['dealYearMonth']

0        20181
1        20181
2        20181
3        20181
4        20181
         ...
76130    20248
76131    20248
76132    20248
76133    20248
76134    20248
Name: dealYearMonth, Length: 73699, dtype: object

In [76]:
# 수치형식 변환
goyang_apt_tx['dealAmount'] = goyang_apt_tx['dealAmount'].str.replace(',', '').astype(float)
goyang_apt_tx['buildYear'] = goyang_apt_tx['buildYear'].astype(int)
goyang_apt_tx['dealYear'] = goyang_apt_tx['dealYear'].astype(int)
goyang_apt_tx['dealMonth'] = goyang_apt_tx['dealMonth'].astype(int)
goyang_apt_tx['dealDay'] = goyang_apt_tx['dealDay'].astype(int)
goyang_apt_tx['excluUseAr'] = goyang_apt_tx['excluUseAr'].astype(float)
goyang_apt_tx['floor'] = goyang_apt_tx['floor'].astype(int)
goyang_apt_tx['sggCd'] = goyang_apt_tx['sggCd'].astype(int)

In [15]:
# 데이터 csv파일로 저장
goyang_apt_tx.to_csv('goyang_apt_tx.csv', index=True, encoding='utf-8-sig')

In [ ]:
# EDA
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
monthly_avg_price

In [19]:
items_monthly_price['change_rate']

KeyError: 'change_rate'

In [40]:
items_monthly_price

,aptNm,buildYear,dealAmount,dealDay,dealMonth,dealYear,dealingGbn,excluUseAr,floor,sggCd,umdNm,dealYearMonth
0,햇빛주공23,1996,40000.0,28,1,2022,중개거래,49.9600,7,41281,행신동,2022-01-01
1,푸른마을10단지,2009,50500.0,27,1,2022,중개거래,106.4462,13,41281,고양동,2022-01-01
2,도래울파크뷰,2013,79000.0,29,1,2022,중개거래,84.3800,15,41281,도내동,2022-01-01
3,햇빛주공23,1996,43000.0,28,1,2022,중개거래,59.9700,13,41281,행신동,2022-01-01
4,은빛마을11단지,1996,47600.0,22,1,2022,중개거래,50.0000,11,41281,화정동,2022-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...
17566,탄현마을(부영3),1995,21000.0,4,8,2024,중개거래,46.5800,10,41287,탄현동,2024-08-01
17567,강선마을14단지두산,1994,42000.0,5,8,2024,중개거래,59.7600,13,41287,주엽동,2024-08-01
17568,미주(19-8),1989,11000.0,1,8,2024,중개거래,57.5000,5,41287,일산동,2024-08-01
17569,후곡마을(주공),1995,36000.0,3,8,2024,중개거래,68.1300,6,41287,일산동,2024-08-01
17570,문촌마을10단지동부,1996,40000.0,2,8,2024,직거래,73.7180,23,41287,주엽동,2024-08-01

In [23]:
# count = pd.DataFrame({'dealCount':[len(goyang_apt_tx.loc[goyang_apt_tx['dealYearMonth']=='20221']), len(goyang_apt_tx.loc[goyang_apt_tx['dealYearMonth']=='20222']), len(goyang_apt_tx.loc[goyang_apt_tx['dealYearMonth']=='20223']), len(goyang_apt_tx.loc[goyang_apt_tx['dealYearMonth']=='20224']), len(goyang_apt_tx.loc[goyang_apt_tx['dealYearMonth']=='20225']), len(goyang_apt_tx.loc[goyang_apt_tx['dealYearMonth']=='20226']), len(goyang_apt_tx.loc[goyang_apt_tx['dealYearMonth']=='20227']), len(goyang_apt_tx.loc[goyang_apt_tx['dealYearMonth']=='20228']), len(goyang_apt_tx.loc[goyang_apt_tx['dealYearMonth']=='20229']), len(goyang_apt_tx.loc[goyang_apt_tx['dealYearMonth']=='202210']), len(goyang_apt_tx.loc[goyang_apt_tx['dealYearMonth']=='202211']), len(goyang_apt_tx.loc[goyang_apt_tx['dealYearMonth']=='202212']), len(goyang_apt_tx.loc[goyang_apt_tx['dealYearMonth']=='20231']), len(goyang_apt_tx.loc[goyang_apt_tx['dealYearMonth']=='20232']), len(goyang_apt_tx.loc[goyang_apt_tx['dealYearMonth']=='20233']), len(goyang_apt_tx.loc[goyang_apt_tx['dealYearMonth']=='20234']), len(goyang_apt_tx.loc[goyang_apt_tx['dealYearMonth']=='20235']), len(goyang_apt_tx.loc[goyang_apt_tx['dealYearMonth']=='20236']), len(goyang_apt_tx.loc[goyang_apt_tx['dealYearMonth']=='20237']), len(goyang_apt_tx.loc[goyang_apt_tx['dealYearMonth']=='20238']), len(goyang_apt_tx.loc[goyang_apt_tx['dealYearMonth']=='20239']), len(goyang_apt_tx.loc[goyang_apt_tx['dealYearMonth']=='202310']), len(goyang_apt_tx.loc[goyang_apt_tx['dealYearMonth']=='202311']), len(goyang_apt_tx.loc[goyang_apt_tx['dealYearMonth']=='202312']), len(goyang_apt_tx.loc[goyang_apt_tx['dealYearMonth']=='20241']), len(goyang_apt_tx.loc[goyang_apt_tx['dealYearMonth']=='20242']), len(goyang_apt_tx.loc[goyang_apt_tx['dealYearMonth']=='20243']), len(goyang_apt_tx.loc[goyang_apt_tx['dealYearMonth']=='20244']), len(goyang_apt_tx.loc[goyang_apt_tx['dealYearMonth']=='20245']), len(goyang_apt_tx.loc[goyang_apt_tx['dealYearMonth']=='20246']), len(goyang_apt_tx.loc[goyang_apt_tx['dealYearMonth']=='20247']), len(goyang_apt_tx.loc[goyang_apt_tx['dealYearMonth']=='20248'])],
#                       'month':['202201','202202','202203','202204','202205','202206','202207','202208','202209','202210','202211','202212','202301','202302','202303','202304','202305','202306','202307','202308','202309','202310','202311','202312','202401','202402','202403','202404','202405','202406','202407','202408']})
# 
# count

    dealCount   month
0         250  202201
1         274  202202
2         532  202203
3         579  202204
4         512  202205
5         299  202206
6         209  202207
7         159  202208
8         160  202209
9         144  202210
10        223  202211
11        168  202212
12        342  202301
13        569  202302
14        620  202303
15        642  202304
16        695  202305
17        715  202306
18        729  202307
19        760  202308
20        715  202309
21        599  202310
22        415  202311
23        390  202312
24        609  202401
25        558  202402
26        688  202403
27        708  202404
28        716  202405
29        896  202406
30       1063  202407
31        674  202408

In [32]:
import pandas as pd

# Simplified DataFrame creation
count = goyang_apt_tx.groupby('dealYearMonth').size().reset_index(name='dealCount')

# Convert 'dealYearMonth' to datetime format
count['month'] = pd.to_datetime(count['dealYearMonth'], format='%Y%m')

# Drop the original 'dealYearMonth' column if it's no longer needed
count.drop(columns='dealYearMonth', inplace=True)

count

    dealCount      month
0         250 2022-01-01
1         144 2022-10-01
2         223 2022-11-01
3         168 2022-12-01
4         274 2022-02-01
5         532 2022-03-01
6         579 2022-04-01
7         512 2022-05-01
8         299 2022-06-01
9         209 2022-07-01
10        159 2022-08-01
11        160 2022-09-01
12        342 2023-01-01
13        599 2023-10-01
14        415 2023-11-01
15        390 2023-12-01
16        569 2023-02-01
17        620 2023-03-01
18        642 2023-04-01
19        695 2023-05-01
20        715 2023-06-01
21        729 2023-07-01
22        760 2023-08-01
23        715 2023-09-01
24        609 2024-01-01
25        558 2024-02-01
26        688 2024-03-01
27        708 2024-04-01
28        716 2024-05-01
29        896 2024-06-01
30       1063 2024-07-01
31        674 2024-08-01

In [40]:
monthly_counts = goyang_apt_tx.groupby(['sggCd', 'dealYearMonth']).size().reset_index(name='dealCount')
monthly_counts

    sggCd dealYearMonth  dealCount
0   41281         20221         86
1   41281        202210         52
2   41281        202211        102
3   41281        202212         66
4   41281         20222         80
..    ...           ...        ...
91  41287         20244        252
92  41287         20245        253
93  41287         20246        289
94  41287         20247        335
95  41287         20248        208

[96 rows x 3 columns]

In [27]:
import pandas as pd
import numpy as np

items_area = goyang_apt_tx.copy()
items_area['excluUseAr'] = items_area['excluUseAr'].astype(float)
items_area['sizeCategory'] = np.where(items_area['excluUseAr'] >= 135, '대형',
                            np.where(items_area['excluUseAr'] >= 95.86, '중대형',
                            np.where(items_area['excluUseAr'] >= 62.81, '중형',
                            np.where(items_area['excluUseAr'] >= 40, '중소형', '소형'))))

In [18]:
goyang_apt_tx

,aptNm,buildYear,dealAmount,dealDay,dealMonth,dealYear,dealingGbn,excluUseAr,floor,sggCd,umdNm,dealYearMonth
0,은빛마을6단지,1996,75000.0,13,1,2021,NaN,103.9200,4,41281,화정동,20211
1,삼송힐스테이트,2013,70000.0,24,1,2021,NaN,74.1300,11,41281,신원동,20211
2,달빛(라이프)2,1996,38000.0,8,1,2021,NaN,59.9700,15,41281,화정동,20211
3,한승미메이드,2007,22500.0,18,1,2021,NaN,78.0610,11,41281,관산동,20211
4,행신3차SKVIEW,2009,85000.0,16,1,2021,NaN,104.5787,13,41281,행신동,20211
...,...,...,...,...,...,...,...,...,...,...,...,...
28062,탄현마을(부영3),1995,21000.0,4,8,2024,중개거래,46.5800,10,41287,탄현동,20248
28063,강선마을14단지두산,1994,42000.0,5,8,2024,중개거래,59.7600,13,41287,주엽동,20248
28064,미주(19-8),1989,11000.0,1,8,2024,중개거래,57.5000,5,41287,일산동,20248
28065,후곡마을(주공),1995,36000.0,3,8,2024,중개거래,68.1300,6,41287,일산동,20248
28066,문촌마을10단지동부,1996,40000.0,2,8,2024,직거래,73.7180,23,41287,주엽동,20248

In [88]:
import dash
from dash import dcc, html
import plotly.express as px
import pandas as pd

# 데이터 전처리
goyang_monthly_tx = goyang_apt_tx.copy()
goyang_monthly_tx['dealYearMonthDay'] = pd.to_datetime(goyang_monthly_tx['dealYearMonthDay'], format='%Y%m%d')
monthly_avg_tx = goyang_monthly_tx.groupby('dealYearMonthDay')['dealAmount'].mean().reset_index()

# 초기 데이터 필터링
filtered_data = monthly_avg_tx

# y축 최솟값과 최댓값 계산
y_min = filtered_data['dealAmount'].min()
y_min_with_margin = y_min - (y_min * 0.03)  # 3% 마진 추가
y_max = filtered_data['dealAmount'].max()
y_max_with_margin = y_max + (y_max * 0.03)  # 3% 마진 추가

# Plotly 그래프 생성
fig = px.line(filtered_data, 
              x='dealYearMonthDay', 
              y='dealAmount', 
              markers=False, 
              line_shape='spline',
              #labels={'WRTTIME_IDTFR_ID': '거래월', 'DTA_VAL': '평균매매가격(만원)'}
              )

# 선 그래프 색상 및 굵기 설정
fig.update_traces(line=dict(color='#007BFF', width=2))  # 밝고 비비드한 파란색

# y축 라벨 형식 수정
tickvals = list(range(int(y_min_with_margin // 10000 * 10000), int(y_max_with_margin // 10000 * 10000) + 10000, 5000))  # 리스트로 변환
ticktext = [f"{float(value // 5000/2)}억원" for value in tickvals]  # 형식 수정

# 그래프 레이아웃 업데이트 (크기, 제목, 축 스타일, 배경색 등)
fig.update_layout(
    # title={
    #     'text': '고양시 아파트 월별 평균매매가격',
    #     'y': 0.95,
    #     'x': 0.5,
    #     'xanchor': 'center',
    #     'yanchor': 'top',
    #     'font': {'size': 28, 'family': 'Montserrat', 'color': '#2B3E50'}
    # },
    #template="plotly_white",  # 화이트 테마 적용
    xaxis=dict(
        showline=True,
        showticklabels=False,
        title=None,
        # title='거래월 (2022~2024년)',
        # tickfont=dict(size=16, family='Roboto', color='#3E3E3E'),  # 큰 글꼴 적용
        # titlefont=dict(size=20, family='Roboto', color='#2B3E3E'),
        # tickmode='linear',
        # dtick='M1',  # 매월 눈금 표시
        showgrid=False,  # 세로선
        # #gridcolor='rgba(211, 211, 211, 0.5)',  # 연한 회색 점선
        # gridwidth=1
    ),
    yaxis=dict(
        showline=True,
        showticklabels=True,
        title=None,
        tickfont=dict(size=25, family='Verdana', color='gray'),
        titlefont=dict(size=20, family='Roboto', color='#2B3E50'),
        tickmode='array',  # 수동으로 tick 설정
        tickvals=tickvals,  # y축 눈금 위치
        ticktext=ticktext,  # y축 눈금 라벨
        # showgrid=True,  # 가로선 표시
        # gridcolor='rgba(211, 211, 211, 0.5)',  # 연한 회색 점선
        # gridwidth=1,
        range=[y_min_with_margin, y_max_with_margin]  # y축의 최솟값과 최댓값에 마진 추가
    ),
    width=750,  # 그래프 너비
    height=500,  # 그래프 높이
    plot_bgcolor='white',  # 그래프 배경색을 깔끔한 흰색으로
    paper_bgcolor='white',   # 전체 배경색을 가벼운 회색
    xaxis_tickformat='%Y년',
    #xaxis_tickangle=45,  # x축 눈금 기울기
    margin=dict(l=40, r=40, t=80, b=60),  # 여백 조정
)

# y축 점선 추가
for y_value in range(int(y_min_with_margin//5000*5000), int(y_max_with_margin//5000*5000)+5000, 5000):
    fig.add_shape(type='line',
                  xref='paper', x0=0, x1=1,
                  yref='y', y0=y_value, y1=y_value,
                  line=dict(color="rgba(180,180,180,0.7)", width=1, dash="solid"))  # 점선과 굵기 설정

# x축 점선 추가
# for x_value in filtered_data['WRTTIME_IDTFR_ID']:
#     fig.add_shape(type='line',
#                   yref='paper', y0=0, y1=1,
#                   xref='x', x0=x_value, x1=x_value,
#                   line=dict(color="rgba(180,180,180,0.7)", width=1, dash="dot"))  # 점선과 굵기 설정

# 포인트 위에 텍스트 추가
# for i in range(len(filtered_data)):
#     deal_amount = filtered_data['DTA_VAL'].iloc[i]
#     billions = int(deal_amount // 10000)
#     ten_thousands = int(deal_amount % 10000)
# 
#     # 형식 수정: 5억2000만원
#     if billions > 0:
#         label = f'{billions}억{ten_thousands:04}만원'  # 4자리 수로 포맷
#     else:
#         label = f'{ten_thousands}만원'
#     
#     fig.add_annotation(
#         x=filtered_data['WRTTIME_IDTFR_ID'].iloc[i],
#         y=deal_amount,
#         text=label,
#         showarrow=False,
#         textangle=-25,  # 오른쪽으로 기울이기
#         xanchor='left',  # 텍스트의 시작점을 왼쪽으로 설정
#         yanchor='bottom',  # 텍스트의 시작점을 아래쪽으로 설정
#         font=dict(size=12, color="black"),  # 폰트 크기와 색상 설정
#         xshift=10  # 오른쪽으로 이동
#     )

# Dash 애플리케이션 초기화
app = dash.Dash(__name__)

# 레이아웃 정의
app.layout = html.Div([
    dcc.Graph(id='line-chart', figure=fig)
])

# 애플리케이션 실행
if __name__ == '__main__':
    app.run_server(debug=True, port="8053")

In [78]:
apt_yojin = goyang_apt_tx[
    (goyang_apt_tx['aptNm'] == "일산요진와이시티") &
    (goyang_apt_tx['excluUseAr'] >= 84) &
    (goyang_apt_tx['excluUseAr'] < 85)
]

In [79]:
apt_yojin

,aptNm,buildYear,dealAmount,dealDay,dealMonth,dealYear,dealingGbn,excluUseAr,floor,sggCd,umdNm,dealYearMonth,dealYearMonthDay
526,일산요진와이시티,2016,65000.0,18,1,2018,NaN,84.49,55,41285,백석동,20181,2018118
527,일산요진와이시티,2016,58000.0,13,1,2018,NaN,84.49,10,41285,백석동,20181,2018113
540,일산요진와이시티,2016,57500.0,13,1,2018,NaN,84.49,18,41285,백석동,20181,2018113
542,일산요진와이시티,2016,57000.0,27,1,2018,NaN,84.49,21,41285,백석동,20181,2018127
544,일산요진와이시티,2016,59500.0,31,1,2018,NaN,84.30,44,41285,백석동,20181,2018131
...,...,...,...,...,...,...,...,...,...,...,...,...,...
74754,일산요진와이시티,2016,92000.0,6,7,2024,중개거래,84.49,20,41285,백석동,20247,202476
74793,일산요진와이시티,2016,97000.0,8,7,2024,중개거래,84.30,27,41285,백석동,20247,202478
75667,일산요진와이시티,2016,94700.0,31,8,2024,중개거래,84.49,2,41285,백석동,20248,2024831
75711,일산요진와이시티,2016,89000.0,12,8,2024,중개거래,84.49,9,41285,백석동,20248,2024812
75719,일산요진와이시티,2016,101000.0,7,8,2024,중개거래,84.49,57,41285,백석동,20248,202487

In [89]:
import dash
from dash import dcc, html
import plotly.express as px
import pandas as pd

# 데이터 전처리
goyang_monthly_tx = apt_yojin.copy()
goyang_monthly_tx['dealYearMonthDay'] = pd.to_datetime(goyang_monthly_tx['dealYearMonthDay'], format='%Y%m%d')
monthly_avg_tx = goyang_monthly_tx.groupby('dealYearMonthDay')['dealAmount'].mean().reset_index()

# 초기 데이터 필터링
filtered_data = monthly_avg_tx

# y축 최솟값과 최댓값 계산
y_min = filtered_data['dealAmount'].min()
y_min_with_margin = y_min - (y_min * 0.03)  # 3% 마진 추가
y_max = filtered_data['dealAmount'].max()
y_max_with_margin = y_max + (y_max * 0.03)  # 3% 마진 추가

# Plotly 그래프 생성
fig = px.line(filtered_data, 
              x='dealYearMonthDay', 
              y='dealAmount', 
              markers=False, 
              line_shape='spline',
              #labels={'WRTTIME_IDTFR_ID': '거래월', 'DTA_VAL': '평균매매가격(만원)'}
              )

# 선 그래프 색상 및 굵기 설정
fig.update_traces(line=dict(color='#007BFF', width=3))  # 밝고 비비드한 파란색

# y축 라벨 형식 수정
tickvals = list(range(int(y_min_with_margin // 10000 * 10000), int(y_max_with_margin // 10000 * 10000) + 10000, 10000))  # 리스트로 변환
ticktext = [f"{int(value // 10000)}억원" for value in tickvals]  # 형식 수정

# 그래프 레이아웃 업데이트 (크기, 제목, 축 스타일, 배경색 등)
fig.update_layout(
    # title={
    #     'text': '고양시 아파트 월별 평균매매가격',
    #     'y': 0.95,
    #     'x': 0.5,
    #     'xanchor': 'center',
    #     'yanchor': 'top',
    #     'font': {'size': 28, 'family': 'Montserrat', 'color': '#2B3E50'}
    # },
    #template="plotly_white",  # 화이트 테마 적용
    xaxis=dict(
        showline=True,
        showticklabels=False,
        title=None,
        # title='거래월 (2022~2024년)',
        # tickfont=dict(size=16, family='Roboto', color='#3E3E3E'),  # 큰 글꼴 적용
        # titlefont=dict(size=20, family='Roboto', color='#2B3E3E'),
        # tickmode='linear',
        # dtick='M1',  # 매월 눈금 표시
        showgrid=False,  # 세로선
        # #gridcolor='rgba(211, 211, 211, 0.5)',  # 연한 회색 점선
        # gridwidth=1
    ),
    yaxis=dict(
        showline=True,
        showticklabels=True,
        title=None,
        tickfont=dict(size=25, family='Verdana', color='gray'),
        titlefont=dict(size=20, family='Roboto', color='#2B3E50'),
        tickmode='array',  # 수동으로 tick 설정
        tickvals=tickvals,  # y축 눈금 위치
        ticktext=ticktext,  # y축 눈금 라벨
        # showgrid=True,  # 가로선 표시
        # gridcolor='rgba(211, 211, 211, 0.5)',  # 연한 회색 점선
        # gridwidth=1,
        range=[y_min_with_margin, y_max_with_margin]  # y축의 최솟값과 최댓값에 마진 추가
    ),
    width=750,  # 그래프 너비
    height=500,  # 그래프 높이
    plot_bgcolor='white',  # 그래프 배경색을 깔끔한 흰색으로
    paper_bgcolor='white',   # 전체 배경색을 가벼운 회색
    xaxis_tickformat='%Y년',
    #xaxis_tickangle=45,  # x축 눈금 기울기
    margin=dict(l=40, r=40, t=80, b=60),  # 여백 조정
)

# y축 점선 추가
for y_value in range(int(y_min_with_margin//10000*10000), int(y_max_with_margin//10000*10000)+10000, 10000):
    fig.add_shape(type='line',
                  xref='paper', x0=0, x1=1,
                  yref='y', y0=y_value, y1=y_value,
                  line=dict(color="rgba(180,180,180,0.7)", width=1, dash="solid"))  # 점선과 굵기 설정

# x축 점선 추가
# for x_value in filtered_data['WRTTIME_IDTFR_ID']:
#     fig.add_shape(type='line',
#                   yref='paper', y0=0, y1=1,
#                   xref='x', x0=x_value, x1=x_value,
#                   line=dict(color="rgba(180,180,180,0.7)", width=1, dash="dot"))  # 점선과 굵기 설정

# 포인트 위에 텍스트 추가
# for i in range(len(filtered_data)):
#     deal_amount = filtered_data['DTA_VAL'].iloc[i]
#     billions = int(deal_amount // 10000)
#     ten_thousands = int(deal_amount % 10000)
# 
#     # 형식 수정: 5억2000만원
#     if billions > 0:
#         label = f'{billions}억{ten_thousands:04}만원'  # 4자리 수로 포맷
#     else:
#         label = f'{ten_thousands}만원'
#     
#     fig.add_annotation(
#         x=filtered_data['WRTTIME_IDTFR_ID'].iloc[i],
#         y=deal_amount,
#         text=label,
#         showarrow=False,
#         textangle=-25,  # 오른쪽으로 기울이기
#         xanchor='left',  # 텍스트의 시작점을 왼쪽으로 설정
#         yanchor='bottom',  # 텍스트의 시작점을 아래쪽으로 설정
#         font=dict(size=12, color="black"),  # 폰트 크기와 색상 설정
#         xshift=10  # 오른쪽으로 이동
#     )

# Dash 애플리케이션 초기화
app = dash.Dash(__name__)

# 레이아웃 정의
app.layout = html.Div([
    dcc.Graph(id='line-chart', figure=fig)
])

# 애플리케이션 실행
if __name__ == '__main__':
    app.run_server(debug=True, port="8053")